* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Yusei Magic', sans-serif!important;
}

h3 {
  color: gray;
}

.nav-menu, footer {
  background-color: black;
  color: white;
}

.nav-menu a {
  color: white;
  text-decoration: none;
}

.nav-menu:hover {
  color: white;
}

.input-group {
  width: 70%;
  margin: 0 auto;
}

.gif-container {
  column-count: 5;
}



